@model CourseApp304.Models.Instructor
@{ int counter = 0;}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />
    @foreach (var course in Model.Courses)
    {
    <div class="row my-2">
        <input type="hidden" value="@course.Id" name="Courses[@counter].Id" />
        <input type="hidden" value="@course.Description" name="Courses[@counter].Description" />
        <input type="hidden" name="Courses[@counter].isActive" @(Html.Raw(course.isActive ? "value=\"true\"" : "value=\"false\"")) />
        <input type="hidden" name="Courses[@counter].Name" value="@course.Name" class="form-control" />
        <input type="hidden" name="Courses[@counter].Price" value="@course.Price" class="form-control" />
        <input type="hidden" name="Courses[@counter].Description" value="@course.Description" class="form-control" />
    </div>
        { counter++; }
    }
    @*.row.mt-2>.col.text-center>button.btn.btn-success+a.btn.btn-info*@

    <div class="row mt-2">
        <div class="col"><input type="text" class="form-control" name="Courses[@counter].Name" /></div>
        <div class="col"><input type="text" class="form-control" name="Courses[@counter].Price" /></div>
        <div class="col"><input type="text" class="form-control" name="Courses[@counter].Description" /></div>
        <div class="col"><input type="hidden" class="form-control" name="Courses[@counter].isActive" value="true" /></div>
    </div>

    <div class="row mt-2">
        <div class="col text-center">
            <button class="btn btn-success" type="submit">Submit</button>
            <a asp-action="Index" class="btn btn-info">Cancel</a>
        </div>
    </div>

</form>

